<div class="col-md-12">

  <h2 class="text-center"> 自测工具表 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> 名称 </th>
        <th> 介绍 </th>
        <th> 怎么做 </th>
      </tr>
    </thead>

    <tbody>
      <% @tolls.each do |toll| %>
        <tr>
          <td> <%=  %> </td>
          <td> <%=  %> </td>
          <td> <%= post.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
