<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>生命意义探索</h3>
  </div>
  <div class="panel-body">
    <p>我们都希望过有意义的一生，但是每个人对于人生意义的观念是一样的吗？答案应该是否定的。</p>
    <p>用网络上一句很流行的话来讲，“这世上只有一种成功，就是以自己喜欢的方式过一生”</p>
    <p>坦诚的写下以下问题的答案，找到你的人生意义！</p>
  </div>

  <!-- List group -->
  <ul class="list-group"><h3>你的过去</h3>
    <li class="list-group-item">1、你从过去学到了什么？</li>
    <li class="list-group-item">2、对你的生活有最积极影响的人有哪些，你最欣赏他们的哪些品质？</li>
    <li class="list-group-item">3、在你的生活中哪些人对你的生活有过非常消极的影响？你最不喜欢他们的哪些特点？</li>
    <li class="list-group-item">4、当你想起你的父母，最感激的一点是什么？</li>
    <li class="list-group-item">5、你不喜欢父母的一点是什么？</li>
    <li class="list-group-item">6、小时候，老师对你来说意味着什么？</li>
    <li class="list-group-item">7、说到关系，有什么词语出现在脑海中？</li>
    <li class="list-group-item">8、如果用一个词去总结过去，那是什么？</li>
    <li class="list-group-item">9、小时候，你一直想的事情是什么，对你有什么意义？</li>
  </ul>
  <ul class="list-group"><h3>你的现在</h3>
    <li class="list-group-item">1、现在你总在思考什么？为什么？</li>
    <li class="list-group-item">2、你现在的工作对你来说意味着什么？为什么？</li>
    <li class="list-group-item">3、在你的生活中，什么给你能量或者你什么时候感到自己充满力量？</li>
    <li class="list-group-item">4、你在什么时候，和谁在一起最能感到自己的存在？在各种场合经常扮演什么角色？希望扮演什么角色？</li>
    <li class="list-group-item">5、你想对自己的生活做点什么？</li>
    <li class="list-group-item">6、你怎么看待金钱和财富？</li>
    <li class="list-group-item">7、放松，闭上眼睛，倾听你的身体，你的身体在告诉你什么信息？</li>
    <li class="list-group-item">8、你理想的职业是什么，为什么？</li>
    <li class="list-group-item">9、现在什么让你最开心？</li>
    <li class="list-group-item">10、什么会让你很不开心？为什么？</li>
  </ul>
  <ul class="list-group"><h3>你的未来</h3>
    <li class="list-group-item">1、如果你有无限的时间和资源，你要做什么？</li>
    <li class="list-group-item">2、对你最重要的三样东西将是什么？</li>
    <li class="list-group-item">3、什么会让你感到生活得有意义？</li>
    <li class="list-group-item">4、未来3~5年你理想的工作和生活场景是怎样的？在现实生活中谁是最接近这种生活的人？他是如何一步步走到今天的？</li>
    <li class="list-group-item">5、如果你要在你的职业生活中做一件能产生非常积极影响的事，那会是什么？</li>
    <li class="list-group-item">6、如果你要在你的私人生活中做一件能产生非常积极影响的事，那会是什么？</li>
    <li class="list-group-item">7、当生命即将终结，你希望这一生对这个世界最大的贡献是什么？</li>
    <li class="list-group-item">8、在你的葬礼上，你最想听到的亲朋好友说你什么？你最不想听到别人说你什么？</li>
    <li class="list-group-item">9、十年、二十年之后，你不想让你的孩子经历的是什么？</li>
    <li class="list-group-item">10、如果你的生命只剩3年，你将如何渡过？</li>
  </ul>
</div>
