<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>MBTI16型人格测试</h3>

  </div>
  <div class="panel-body">
    <p>MBTI是在职业规划领域最为经典和权威的一个测试工具，MBTI通过了解人们在做事，获取信息，决策等方面的偏好来从4个角度对人进行分析。</p>
    <p>本网站最大的特点在于，你可以通过测试后拿到的结果（4个字母组成的序列），直接输入下面的搜索框中，一键得到最适合你的工作，来试试看吧~</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><h4><a href="http://www.apesk.com/mbti/dati.asp">开始测试</a></h4></li>
      <%= form_tag jobs_path,method: :get do %>
         <%= text_field_tag :name %>
         <%= submit_tag "确定" %>
       <% end %>
  </ul>
</div>
