<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>价值观探索</h3>
  </div>
  <div class="panel-body">
    <p>有时候，并不是你不喜欢这份工作，而是你不能接受这家公司，这份工作传递出来的价值观</p>
    <p>探索方法：拿出纸笔，将以下50条价值观定义按照重要程度排序，全部都需要排序哦<br/>
      重要程度分为5个等级:必须满足，高度需要，需要，无所谓，不需要。（请确保每个等级内都有内容，且每个等级的价值观定义不超过13条）</p>
  </div>

  <!-- List group -->
  <ul class="list-group"><h3>价值观定义</h3>
    <li class="list-group-item">成就感 - 能够持续地有所成就，获得自己满意的成绩</li>
    <li class="list-group-item">审美 - 为在意工作环境或重视工作环境吸引力的组织工作</li>
    <li class="list-group-item">归属感 - 能够获得组织的接纳与认可，为成员资格而感到自豪</li>
    <li class="list-group-item">与上司合拍 -  与优秀的上司领导共事</li>
    <li class="list-group-item">艺术创作 - 允许我以各种艺术形式进行创作的工作</li>
    <li class="list-group-item">自主独立 - 工作比较独立，大部分工作由我自己决定,只接受别人较少指挥</li>
    <li class="list-group-item">变化与多样性 - 工作内容和形式经常变化的工作</li>
    <li class="list-group-item">富有挑战 - 工作中不断掌握新的工作任务，不断有困难的任务需要解决</li>
    <li class="list-group-item">工作环境 - 能在喜欢的环境里工作</li>
    <li class="list-group-item">竞争 - 工作中能和别人一较高下，并获得进步</li>
    <li class="list-group-item">思考创新 - 在重视创新的工作环境中创造新思想，新项目，新服务，或新组织结构</li>
    <li class="list-group-item">双重职业 - 鼓励或不干涉员工在业余时间开展第二职业</li>
    <li class="list-group-item">员工福利 - 获得能满足我个人及家庭需求的福利待遇，维持较好的生活标准</li>
    <li class="list-group-item">声望地位 - 所从事的工作或所在的组织有较高的社会地位，受到他人的重视与尊重</li>
    <li class="list-group-item">快节奏 - 在日常节奏较快的环境中工作</li>
    <li class="list-group-item">人际关系和谐 - 能和志同道合的人一起工作，同事间有融洽和谐的工作关系</li>
    <li class="list-group-item">公开透明 - 组织有清晰客观的评价标准，管理公平、透明度高，鼓励员工参与管理</li>
    <li class="list-group-item">全球视野 -  为有可能满足我去海外生活和工作的愿望的组织效力</li>
    <li class="list-group-item">利他助人 - 我能有机会直接或间接帮助他人，做有益于社会的事情</li>
    <li class="list-group-item">社会价值 - 我能为社会做出贡献，做让世界或社会变得更美好的工作</li>
    <li class="list-group-item">影响力 - 允许我通过领导力，而非命令与控制，对变革施加影响</li>
    <li class="list-group-item">自我成长 - 工作中有利于自我完善与成长</li>
    <li class="list-group-item">智慧 - 能不断获得知识与智慧的成长，追求真知</li>
    <li class="list-group-item">传承 - 因为某项成就而被追随我的同事、社区、家庭或其他人记住</li>
    <li class="list-group-item">工作生活平衡 - 能让我平衡家庭、事业及个人追求</li>
    <li class="list-group-item">工作地点 - 在能满足我的生活方式，或满足其他个人、家庭偏好的地点生活和工作</li>
    <li class="list-group-item">实用性 - 工作的成果是实用的，能解决生活中的实际问题</li>
    <li class="list-group-item">决策权 - 工作有权决定行动过程和规则</li>
    <li class="list-group-item">舒适安逸 - 工作环境舒适，节奏慢，工作量不大，压力小</li>
    <li class="list-group-item">流动性 - 当新挑战出现时，有适当的异地工作的机会</li>
    <li class="list-group-item">信仰与道德 - 工作符合自己的精神追求与信仰，与有相似价值观与职业道德标准的人共事</li>
    <li class="list-group-item">多元文化 - 与不同年龄，不同文化，不同民族的人共事</li>
    <li class="list-group-item">体能挑战 - 做挑战身体体能的工作</li>
    <li class="list-group-item">掌握权力 - 工作中拥有更大的权力</li>
    <li class="list-group-item">精确严谨 - 工作中关注细节和精确性，对错误容忍率很低</li>
    <li class="list-group-item">特权 - 在曝光率较高，可能获得特权的组织工作</li>
    <li class="list-group-item">财富收益 - 在有较大可能积累大笔财富或其他物质收益的组织工作</li>
    <li class="list-group-item">社交人脉 - 通过工作认识各种各样的人，结交新朋友，形成自己的人脉</li>
    <li class="list-group-item">曝光率 - 我的想法和贡献能获得高曝光率或为大众熟知</li>
    <li class="list-group-item">稳定安全 - 工作稳定，较合理地保证我能长期保有我的工作，有职业安全感</li>
    <li class="list-group-item">规则秩序 - 工作有条理、有秩序，有很强的计划性，有明确的规范和要求</li>
    <li class="list-group-item">时间自由度 - 按自己的日程表工作，有最大程度的灵活性</li>
    <li class="list-group-item">出差旅行 - 提供较多到外地出差机会的工作</li>
    <li class="list-group-item">发挥专长 - 能在自己擅长的领域发挥自己的专长，取得优异的表现</li>
    <li class="list-group-item">做喜欢的事 - 能做自己喜欢的工作</li>
    <li class="list-group-item">与他人合作 - 建立在信任基础上的团队合作是共同目标，紧密的工作关系是共同努力的结果</li>
    <li class="list-group-item">人身安全与健康 - 工作中身体的安全和健康不受侵害</li>
    <li class="list-group-item">家人支持 - 能够获得父母、家人的认同和支持</li>
    <li class="list-group-item">发展空间 - 职业发展、晋升空间大</li>
    <li class="list-group-item">高风险高回报 - 成功或失败，收益与风险都较高的工作</li>
  </ul>
</div>
