<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>DISC性格测试</h3>
  </div>
  <div class="panel-body">
    <p>才干，知识和技能这三者结合在一起构成了你的优势，而盖洛普优势识别器就是帮助你评测你的“才干”优势。这个测试工具把才干分为14个主题，通过答题，你可以得到自己最为突出的5项才干主题，并以此来知道自己的决策。来玩玩看吧~</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><h4><a href="http://webcache.googleusercontent.com/search?q=cache:-c_NUL-WUeEJ:www.apesk.com/strengthsfinder/+&cd=1&hl=zh-CN&ct=clnk&gl=jp">开始测试</a></h4></li>
    <li>

    </li>
  </ul>
</div>
