<table border="1">
<thead>
<tr>
<th>测评工具</th>
<th>它是什么？</th>
<th>怎么用？</th>
</tr>
</thead>
<tbody>
<tr>
<td><%= link_to("16型人格测试", text_path) %></td>
<td>这是职业规划领域最为经典的测评工具，每个人在当前阶段都有属于自己的由4个字母组成的“人格”，来测测看吧~</td>
<td><a href="http://www.apesk.com/mbti/dati.asp">开始测试</a></td>
</tr>
</tbody>
</table>
<br><br><br><br>
<%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>


<div class="job-row">
<div class="row">
<div class="column small-10">
<h2 class="job-title">
<a data-gtm="jrp-job-list|job-title-click|1" data-job-did="J3P31F66F4BH0N5B46S" data-company-did="" href="/job/J3P31F66F4BH0N5B46S?ipath=JRG1&amp;searchid=a7ff6ffd-9bd8-4e74-9f84-6507c0dfd960&amp;siteid=ns_jp_g">AUTOMOTIVE F&amp;I MANAGER, EARN $100K PLUS, NO SUNDAYS</a>
</h2>
</div>
<div class="column small-2 time-posted">
<div class="hide-for-medium-up">
4w
</div>
<div class="show-for-medium-up">
<em>
4 weeks ago
</em>
</div>
</div>
</div>
<div class="row job-information">
<div class="columns medium-6 large-8">
<h4 class="job-text employment-info">
Full-Time
</h4>
<div class="job-description show-for-medium-up">
615 Highway 66 South, Kernersville, NC 27284 Automotive Finance and Insurance Manager / Subprime F&amp;I Manager Earn $100K Plus! Automotive financing experience required Parks Chevrolet in Kernersville is expanding! We are currently seeking an experienced Fi...
</div>
</div>
<div class="columns large-2 medium-3 small-12">
<h4 class="job-text">
PARKS CHEVROLET KERNERSVILLE
</h4>
</div>
<div class="columns end large-2 medium-3 small-12">
<h4 class="job-text">
KERNERSVILLE, NC
</h4>
<h4>
<a class="company-collapse-link" data-gtm="jrp-job-list|more-company-jobs|1" data-job-did="J3P31F66F4BH0N5B46S" data-company-did="" href="/jobs-i?company_name=PARKS+CHEVROLET+KERNERSVILLE&amp;grouping_value=deccb44e4ce61f771ab61045a9a70d79&amp;sort=distance_asc">View 1 more</a>
</h4>
</div>
</div>
<div class="row user-actions">
<div class="small-12 columns job-actions" data-job-did="J3P31F66F4BH0N5B46S">

<span class="save-job">
<a href="#">
<span class="fa fa-star-o"></span>
Save Job
</a>
</span>
<span class="hide saved-job" js-id="">
<a class="saved-job-text" href="#">
<span class="fa fa-star"></span>
Saved Job
</a>
<a href="/saved-jobs">(View Saved Jobs)</a>
</span>
<a class="email-job-jrp" data-gtm="jrp-job-list|email-link" data-job-did="J3P31F66F4BH0N5B46S" href="#">
<span class="fa fa-envelope"></span>
Email Job
</a>

</div>
</div>
</div>
