/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//----footer always on the bottom-----
html {
   position: relative;
   min-height: 100%;
 }

 body {
   /* Margin bottom by footer height */
   margin-bottom: 100px;
 }

//---------Navbar---------

.navbar-default {
    background-color: #212121;
    border-color: #212121;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #F2F9F1;
    padding: 10px 15px;
    line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #B6CDBD;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #F2F9F1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #B6CDBD;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #F2F9F1;
}

//------search bar---------
.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 250px;
}
//------carousel----------
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption{
  padding-bottom: 400px;
}

.carousel-caption p {
  font-size: 1.5em;

}
.carousel-caption h2 {
    color: #fff !important;
    font-size: 5em
}



//---------Box---------

.sec-about {
  background-color: #F2F9F1;
}

//---------Content---------

 .content-section-a {
     padding: 50px 0;
     background-color: #F2F9F1;
 }

 .content-section-b {
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }

 .section-heading-spacer {
     float: left;
     width: 200px;
     border-top: 3px solid #e7e7e7;
 }

 .section-heading {
     margin-bottom: 30px;
 }

 .lead {
     font-size: 18px;
     font-weight: 400;
 }

 //----User talks------
 .talk-about-us{padding-bottom:160px;padding-top:60px;color:#666}.talk-about-us strong{margin-top:25px;color:#4A6BB5;font-weight:600;font-style:italic}.talk-about-us .item>img{width:80px;height:80px;margin:0 auto;border-radius:50%;border:2px solid #ccc;margin-bottom:10px}.talk-about-us .item>p{max-width:600px;letter-spacing:1px;margin:0 auto;line-height:2;margin-bottom:20px}.talk-about-us .carousel-indicators>li{background-color:#dcdcdc;border:0 none;height:10px;margin:1px;width:10px;border-radius:0;margin:0 5px;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.talk-about-us .carousel-indicators li.active{background-color:#4A6BB5}.talk-about-us .carousel-indicators{bottom:-70px}


//---------Footer---------
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #212121;

  p {
      color: white;
      margin-top: 30px;
    }
  }

//-------admin/jobs/index-----
.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
